:root {
  --defaultgray-600: rgba(75, 85, 99, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --defaultgray-800: rgba(31, 41, 55, 1);
  --defaultgray-500: rgba(107, 114, 128, 1);
  --defaultgray-700: rgba(55, 65, 81, 1);
  --defaultgray-200: rgba(229, 231, 235, 1);
  --defaultgray-100: rgba(243, 244, 246, 1);
  --text-sm-leading-5-font-bold-font-family: "Inter", Helvetica;
  --text-sm-leading-5-font-bold-font-weight: 700;
  --text-sm-leading-5-font-bold-font-size: 14px;
  --text-sm-leading-5-font-bold-letter-spacing: 0px;
  --text-sm-leading-5-font-bold-line-height: 20px;
  --text-sm-leading-5-font-bold-font-style: normal;
  --text-lg-leading-7-font-extrabold-font-family: "Inter", Helvetica;
  --text-lg-leading-7-font-extrabold-font-weight: 800;
  --text-lg-leading-7-font-extrabold-font-size: 18px;
  --text-lg-leading-7-font-extrabold-letter-spacing: 0px;
  --text-lg-leading-7-font-extrabold-line-height: 28px;
  --text-lg-leading-7-font-extrabold-font-style: normal;
  --text-xs-leading-4-font-bold-font-family: "Inter", Helvetica;
  --text-xs-leading-4-font-bold-font-weight: 700;
  --text-xs-leading-4-font-bold-font-size: 12px;
  --text-xs-leading-4-font-bold-letter-spacing: 0px;
  --text-xs-leading-4-font-bold-line-height: 16px;
  --text-xs-leading-4-font-bold-font-style: normal;
  --text-xs-leading-4-font-medium-font-family: "Inter", Helvetica;
  --text-xs-leading-4-font-medium-font-weight: 500;
  --text-xs-leading-4-font-medium-font-size: 12px;
  --text-xs-leading-4-font-medium-letter-spacing: 0px;
  --text-xs-leading-4-font-medium-line-height: 16px;
  --text-xs-leading-4-font-medium-font-style: normal;
  --text-xs-leading-4-font-normal-font-family: "Inter", Helvetica;
  --text-xs-leading-4-font-normal-font-weight: 400;
  --text-xs-leading-4-font-normal-font-size: 12px;
  --text-xs-leading-4-font-normal-letter-spacing: 0px;
  --text-xs-leading-4-font-normal-line-height: 16px;
  --text-xs-leading-4-font-normal-font-style: normal;
  --collection-1-boolean: none;
}
